# Ignore everything, then allow only the files below
/*
!/.gitignore
!/README.md
!/Satoshi-Black.ttf
!/certificate-template.png
!/brand/
!/brand/stamp.png
!/brand/sig_president.png
!/brand/sig_chef.png
!/ecc_public_key.pem
!/generate_ecc.py
!/generator.py
!/gui.py
!/index.html
!/members.csv
